      <h4 class="heading mt-4">All set for a Reset!</h4>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control mb-3" formControlName="email">
        </div>

        <div class="form-group">
            <label for="password">Enter New Password</label>
            <input type="password" class="form-control mb-3" formControlName ="password">
        </div>

        <div class="form-group">
            <label for="password">Re-Enter New Password</label>
            <input type="password" class="form-control mb-3" formControlName ="re_enterpassword">
        </div>
        
        <button [disabled]="!loginForm.valid" type="submit" class="btn mb-3 mt-2">Reset Password & Login</button>
        </form>
